.img:hover {
  transform: scale(5);
  margin-right: 200px;
  transition: 0.5s;
}

.img {
  height: 150px;
}

.button {
  display: block;
  width: 200px;
  height: 100px;
}

input[type='file'] {
  font-size: 16px;
  background: cornsilk;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 350px;
  outline: none;
}

::-webkit-file-upload-button {
  color: white;
  background: #402deb;
  padding: 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0 1px 1px #6b4559;
  outline: none;
}

::-webkit-file-upload-button:hover {
  background: #7a6ee7;
}

.fail {
  background-color: tomato;
  color: azure;
}

.success {
  background-color: aquamarine;
}
